@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-100;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.viewProject:hover .code {
    visibility:visible;
}

.removebg{
    mix-blend-mode: multiply;
}
.intro-left{
    background-color: #a2a2a2;
    border-radius: 130% 130% 0 0 ;
    overflow: hidden;
}